.messageTextUser2 {
  display: inline-block;
  flex-direction: column;
  border-radius: 8px;
  width: 300px;
  height: auto;
  padding: 20px;
  position: absolute;
  align-self: flex-start;
  color: #f7f7f7;
  line-height: 25px;
  text-align: left;
}
